footer {
  position: relative;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid #000;
  background-color: rgb(24, 40, 49);
  color: rgb(255,173,8);
  padding-bottom: 0.2rem;
}

footer p {
  margin: 0.75rem auto 0.5rem auto;
}
