header {
  width: 100%;
  padding: 0.75rem;
  border-bottom: 3px double rgb(64, 80, 89);
  background-color: rgb(24, 40, 49);
  font-family: Avenir, "Gill Sans", Skia, sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  color: rgb(12, 143, 143);
}

nav:before, nav:after  {
    content: " ";
    display: table;
}

nav:after {
    clear: both;
}

header > h1, header > h2 {
  text-align: center;
}

header > h1 {
  margin-top: 0.75;
  margin-bottom: 0;
}

header > h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

nav {
  font-size: 0.8rem;
  font-weight: bold;
}

nav .links {
  float: left;
  padding-left: 0.5rem;
}

nav div {
  position: relative;
}

nav ul {
  margin: 0.5rem auto;
  padding-left: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav .user {
  float: right;
  padding-right: 0.5rem;
}

header a {
  padding: 0.5rem 1.0rem;
  background-color: lemonchiffon;
  border: 1px solid rgb(64, 80, 89);
  border-radius: 0.2rem;
  color: rgb(64, 80, 89);
  text-decoration: none;
}
